<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
        <script type="module" src="script.js"></script>
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <div class="square" id="element-to-capture-square">
                <p class="title colorWhite">{{selectedLevel}}</p>
                <div class="table">
                    <p class="titles month colorWhite">{{month}}</p>
                    <p class="titles name colorWhite">Название</p>
                    <p class="titles price colorWhite">Цена</p>

                    <div v-for="(row, index) in tableData" :key="index" class="row">
                        <p class="content date colorWhite">{{ row.date }}</p>
                        <p class="content dayofweek colorWhite">{{ row.dayOfWeek }}</p>
                        <p class="hikename colorWhite">{{ row.name }}</p>
                        <p class="content hikeprice colorWhite">{{ row.price }}</p>
                    </div>
                </div>
            </div>

            <div class="story" id="element-to-capture-story">
                <p class="title colorWhite" style="padding-top: 70px">{{selectedLevel}}</p>
                <div class="table">
                    <p class="titles month colorWhite">{{month}}</p>
                    <p class="titles name colorWhite">Название</p>
                    <p class="titles price colorWhite">Цена</p>

                    <div v-for="(row, index) in tableData" :key="index" class="row">
                        <p class="content date colorWhite">{{ row.date }}</p>
                        <p class="content dayofweek colorWhite">{{ row.dayOfWeek }}</p>
                        <p class="hikename colorWhite">{{ row.name }}</p>
                        <p class="content hikeprice colorWhite">{{ row.price }}</p>
                    </div>
                </div>
            </div>

            <!-- Кнопки для захвата элементов -->
            <button @click="captureAsImage('square')" class="capture-btn-1">
                Сохранить квадрат
            </button>
            <button @click="captureAsImage('story')" class="capture-btn-2">Сохранить сторис</button>

            <div class="forms">
                <div class="level-selection">
                    <label for="levelSelect">Выберите уровень:</label>
                    <select id="levelSelect" v-model="selectedLevel">
                        <option value="Уровень — легкий">Легкий</option>
                        <option value="Уровень — средний">Средний</option>
                        <option value="Уровень — сложный">Сложный</option>
                        <option value="Скалолазание">Скалолазание</option>
                        <option value="Многодневные походы">Многодневные походы</option>
                    </select>
                </div>
                <form @submit.prevent="handleFormSubmit">
                    <label for="inputText">Расписание:</label>
                    <textarea
                        id="inputText"
                        v-model="formData.inputText"
                        rows="20"
                        placeholder="Введите расписание"
                    ></textarea>

                    <label for="price">Цена:</label>
                    <input
                        id="price"
                        type="text"
                        v-model="formData.price"
                        placeholder="Введите цену"
                    />

                    <input type="submit" value="Отправить" />
                </form>

                <button @click="firtsFetch" class="fetch">FETCH</button>
            </div>
        </div>
        <div class="png"></div>
    </body>
</html>
